.main{
        margin: 5%;
        gap: 10px;
        min-height: 60vh;
}

.main section{
    margin: 10px 0;
    width: 40%; 
}

.userWelcome{
    align-items: flex-start;
    gap: 30px;
    padding: 2rem;
    
}

.quizSelect{
    gap: 30px;
    border: 2px solid #a5a5a5;
    background: Linear-gradient(to right,#edeff6 , #3e597d );
    padding: 2rem;
    border-radius: 10px;
}

.quizSelect h2{
    padding-bottom: 2rem;
    color:  #142850;
    text-align: center; 
}

.quizSelect button{
    width: 100%; 
    max-width: 250px; 
    padding: 12px 20px;
    background:linear-gradient(to right,#0027d6 , #00204a );
    border-color: #1801c9a5;
    font-weight: bold;
    box-shadow: 0 4px 6px #050028a5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.quizSelect button:hover{
    box-shadow: 0 0 10px #3ac8eb80;
    background: linear-gradient(to right, #20b1fa, #1bf8a7);
    border-color: #6CB4EE;
    color: #050028a5;
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 992px) {
    .main {
        flex-direction: column;
    }
    
    .userWelcome {
        width: 100%;
        padding: 1.5rem;
        align-items: center;
        text-align: center;
    }
    
    .quizSelect {
        padding: 1.5rem;
    }
}

@media (max-width: 576px) {
    .header h1 {
        font-size: 1.5rem; 
    }
    
    .userWelcome, .quizSelect {
        padding: 1rem;
        gap: 15px;
    }
    
    .quizSelect button {
        padding: 10px 15px;
        font-size: 0.9rem;
    }
}