.main{
        margin: 5%;
        gap: 10px;
        height: 60%;
        max-height: 100vh;
}

.main section{
    margin: 5px;
    max-height: 30em;
    height: 80%;  
}

.userWelcome{
    align-items: start;
    width: 50%; 
    gap: 30px;
    border-radius: 10px;
    padding: 12.5% 7.5%;
    
}

.quizSelect{
    gap: 30px;
    border: 2px solid whitesmoke;
    background: Linear-gradient(to right,#edeff6 , #3e597d );
    padding: 5%;
}

.quizSelect h2{
    padding-bottom: 40px;
    color:  #142850;
}

.quizSelect button{
    background:linear-gradient(to right,#0027d6 , #00204a );
    border-color: #1801c9a5;
    font-weight: bold;
    box-shadow: 0 4px 6px #050028a5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.quizSelect button:hover{
    box-shadow: 0 0 10px #3ac8eb80;
    background: linear-gradient(to right, #20b1fa, #1bf8a7);
    border-color: #6CB4EE;
    color: #050028a5;
    font-size: 1em;
    font-weight: bold;
}